{% block attachmentimages_widget %}
	{% spaceless %}
		{% if value is not empty %}
			{% for attachmentimages in value %}
					{% set foo = 'productes/' ~ value %}
					<a class="fancybox" rel="attachmentimages" href="{{ foo | imagine_filter('mid_thumb') }}">
						<img src="{{ foo | imagine_filter('low_thumb') }}" alt="" />
					</a>
			{% endfor %}
		{% endif %}
	{% endspaceless %}
{% endblock %}