{% block icon_widget %}
	{% spaceless %}
		{% if value is not empty %}
			{% set foo = 'treeimages/' ~ value %}
			<a class="fancybox" href="{{ foo | imagine_filter('medium_thumb') }}"><img src="{{ foo | imagine_filter('my_thumb') }}" alt=""></a>
		{% endif%}
	{% endspaceless %}
{% endblock %}
