<div class="container-fluid">
	<h3 class="modal-title"></h3>
	{{ form_start(form, {'action': app.request.schemeAndHttpHost ~ app.request.getBaseURL() ~'/productsinfo/' ~ productid ~ '/postincidence/' ~ tipoincidencia,'attr': {'id':'formincidence', 'class':'form-horizontal'}} ) }}
		{{ form_errors(form) }}

		{% if tipoincidencia == 'pdf' %}
			<div class="control-group">
				<label class="control-label" for="form_to">To*:</label>
				<div class="controls">
					{{ form_errors(form.to) }}
					{{ form_widget(form.to) }}
				</div>
			</div>
		{% endif %}

		<div class="control-group">
			<label class="control-label" for="form_from">From*:</label>
			<div class="controls">
				{{ form_errors(form.from) }}
				{{ form_widget(form.from) }}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="form_subject">Subject*:</label>
			<div class="controls">
				{{ form_errors(form.subject) }}
				{{ form_widget(form.subject) }}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="form_message">Message*:</label>
			<div class="controls">
				{{ form_errors(form.message) }}
				{{ form_widget(form.message) }}
			</div>
		</div>

		{#<div class="clearfix" style="margin:10px 0">
			<button type="submit" id="form_save" name="form[save]" class="btn btn-primary pull-left">Send</button>
			<button type="button" id="form_cancel" name="form[cancel]" class="btn pull-left" data-dismiss="modal" style=>Cancel</button>
		</div>#}

		<div class="clearfix pull-right" style="margin:10px 0">
			{{ form_widget(form.save) }}
			{{ form_widget(form.cancel, {'style':'margin-left: 10px'})}}
		</div>

		{{ form_rest(form) }}

	{{ form_end(form) }}


</div>


{#% block button_row %}
	{% spaceless %}
	{% endspaceless %}
{% endblock button_row %#}