{% block registry_widget %}
	{% spaceless %}
		{% if value is not empty %}
			<a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/graphics/registry/{{ value }}?_sonata_admin=sonata.admin.Graphics{#{ admin.graphics.generateUrl('graphics_download', '1') }#}" class="btn"> <i class="icon-download"></i> Download registry</a>
		{% endif %}
	{% endspaceless %}
{% endblock %}
