{% block downloadattachment_widget %}
 {% spaceless %}
	 {% if value is not empty %}
			{# ruta: default_getattachment #}
			<a class="btn sonata-action-element" href="{{ path('default_getattachment', {'id': value}) }}">
				<i class="icon-download"></i>
				{{ 'Download file'|trans({}, 'SonataAdminBundle') }}
			</a>
	 {% endif %}
	 {% endspaceless %}
{% endblock %}