{% block form_row %}
	{% if (form.vars.id != "form_priceto") %}
		<li class="control-group">
			<i class="icon-chevron-right"></i> {{ form.vars.label }}
			{% if (form.vars.id != "form_buscar") and (form.vars.id != "form_color")  %}
				<a href="{{ path('productsinfo_list') }}/action/hidefilter/{{ form.vars.id }}"><i class="icon-remove"></i></a><br />
			
			{% endif %}

			{{ form_errors(form) }}
			{{ form_widget(form) }}		
		</li>
	{% endif %}
{% endblock form_row %}

{% block _form_color_widget %}

	{% set options = choices %}
		
	<ul id="filter_colour" style=" margin: 2px; background-image:none; list-style: none;  ">
	{% for group_label, choice in options %}
		
		
		{% if choice.data.id == choice.data.parent.id %}
			{% if choice.label != '' %}

				<li id="{{ choice.value }}" style="{% if choice is selectedchoice(value) %}border:#888 2px solid;{% else %}border:#ddd 1px solid;{% endif %} display: list-item; float: left; margin: 3px;">
				<a href="#" data-trigger="hover" class="colorname" data-original-title="Grouped color" data-content="{{ choice.data.name|slice(4,20) }}" style="margin: 1px; float: left;{% if choice is selectedchoice(value) %}height:15px; width:15px; background-color: #{{ choice.label|trans({}, translation_domain) }};{% else %}height:17px; width:17px; background-color: #{{ choice.label|trans({}, translation_domain) }}; opacity: 0.6;{% endif %}"></a>
				{% if choice is selectedchoice(value) %}
					<input type="hidden" id="form_color" name="form[color][]" value="{{ choice.value }}" >
				{% endif %}
				</li>

			{% endif %}
		{% endif %}

	{% endfor %}
	</ul>

	</br></br></br>
	
{% endblock %}
		
{% block _form_pricefrom_widget %}
	
	<input type="text" id="form_pricefrom" name="form[pricefrom]" style="width: 50px" {% if value is not empty %}value="{{ value }}" {% endif %}> to
	<input type="text" id="form_priceto" name="form[priceto]" style="width: 50px" {% if value is not empty %}value="{{ value }}" {% endif %}>
		
{% endblock %}
