{% block image_widget %}
	{% spaceless %}
		{% if value is not empty %}
			{% set foo = value %}
			<a class="fancybox" rel="fotos" href="{{ foo | imagine_filter('mid_thumb') }}"><img src="{{ foo | imagine_filter('low_thumb') }}" alt="" /></a>
		{% endif%}
	{% endspaceless %}
{% endblock %}