{% if img is defined %}
	{% set foo = 'productes/' ~ img %}

	{% if tamany == "medium" %}
		<img src="{{ foo | imagine_filter('mid_thumb') }}" alt="">
	{% else %}
		<img src="{{ foo | imagine_filter('high_thumb') }}" alt="">
	{% endif %}

{% endif %}