<table style="padding:6px;">
 <tbody>
  {{ form_start(form, {'action': app.request.schemeAndHttpHost ~ app.request.getBaseURL() ~'/admin/filtrosmain/list','attr': {'id':'formflt'}} ) }}

  <tr>
  <td class="mainFilterTd">
   {{ form_widget(form.any) }}
  </td>
  </tr>

  <tr>
  <td class="mainFilterTd">
   {{ form_widget(form.client) }}
  </td>
  </tr>

  <tr>
  <td class="mainFilterTd">
   {{ form_widget(form.empresa) }}
  </td>
  </tr>
  {{ form_end(form) }}
 </tbody>
</table>