{% extends admin.getTemplate('base_list_field') %}

{% block field %}
		<a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/productes/{{ object.id }}/edit" title="{{ object.id }}">
		{% if object.image != "" %}
			<img src="{{ object.image | imagine_filter('my_thumb') }}" />
	 {% else %}
		 <img src="/img/nophoto.png" />
		{% endif %}
		</a>
{% endblock %}