{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasRoute('edit') and admin.id(object) and admin.isGranted('EDIT', object) %}
 {% if object.tipofoto == 210 %}
    <a class="btn sonata-action-element" href="https://www.youtube.com/watch?v={{ object.imagename }}" target="_blank">
        <i class="icon-film"></i>
        {{ 'Open video'|trans({}, 'SonataAdminBundle') }}</a>
 {% else %}
    <a class="btn sonata-action-element" href="{{ path('default_getattachment', {'id': object.id}) }}?_sonata_admin=sonata.admin.fotos">
        <i class="icon-download"></i>
        {{ 'Download file'|trans({}, 'SonataAdminBundle') }}</a>
 {% endif %}
{% endif %}